# Title of the Notebook

## Introduction
This notebook covers various exercises to demonstrate basic data science tasks using markdown and code cells in Jupyter Notebook.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
- ggplot2
- dplyr

## Data Science Tools
| Tool          | Description                                   |
|---------------|-----------------------------------------------|
| Jupyter       | Interactive computing environment             |
| RStudio       | IDE for R                                     |
| Apache Spark  | Cluster-computing framework                   |
| Tableau       | Data visualization tool                       |
| TensorFlow    | Machine learning library                      |

## Arithmetic Expression Examples
Below are some examples of basic arithmetic operations.

In [1]:
# Code to multiply and add numbers
a = 5
b = 4
c = 2

# Multiplication
multiplication_result = a * b

# Addition
addition_result = a + b + c

multiplication_result, addition_result

(20, 11)

In [2]:
# Code to convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Demonstrate markdown usage in Jupyter Notebook
- List popular data science languages and libraries
- Show examples of arithmetic operations
- Convert time units from minutes to hours

## Author
jiasheng